@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.flex {
    display: flex;
}
body , html{
    margin: 0;
    padding: 0;
    color: black;
    background: radial-gradient(circle, hsla(188, 39%, 36%, 1) 0%, hsla(188, 27%, 45%, 1) 15%, hsla(188, 22%, 52%, 1) 30%, hsla(0, 0%, 100%, 1) 100%);
    background-size: 300%;
    font-family: 'Outfit', sans-serif;
    scroll-snap-type: y mandatory;
}
.slide {
    height: 100vh;
    width: 100vw;
    width: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
header {
    height: 1px;
}
.studio-logo{
    height: 150px;
    width: 150px;
}
.home-container{
    justify-content: center;
}
.home-page {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    height: 250px;
    width: 250px;
    object-fit: contain;
}
.big-txt {
    font-size: 40px;
}
.home-page-buttons{
    gap: 40px;
}
.button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, hsla(44, 78%, 58%, 1) 0%, hsla(44, 100%, 68%, 1) 100%);
    font-weight: 600;
}
.btn-link{
    text-decoration: none;
    color: black;
    width: 200px;
}
.about-container {
    padding: 20px 0px 0px 0px;
    height: auto;
}
.about-titel{
    margin-left: 50px;
    margin-top: 40px;
}
.game-story {
    height: auto;
    width: 48%;
    padding-left: 50px;
}
.game-design {
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.character-design {
    position: absolute;
    height: 400px;
    width: 400px;
}
.game-creators-page {
    flex-direction: column;
    gap: 15px;
}
.game-creators-title {
    text-align: center;
}
.creators-cont {
    justify-content: center;
    gap: 100px;
}
.first-creators-part {
    flex-direction: row;
}
.second-creator-part {
    flex-direction: row;
}
.creators {
    height: 270px;
    width: 230px;
    box-shadow: 0 0 10px 3px black;
    flex-direction: column;
    align-items: center;
}
.creator-name {
    font-size: 20px;
}
.creator-img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.information-button{
    width: 100px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    background: linear-gradient(90deg, hsla(44, 78%, 58%, 1) 0%, hsla(44, 100%, 68%, 1) 100%);    background-clip: padding-box;
    justify-content: center;
    align-items: center;
}

.button {
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: black;  
    height: 40px;
    justify-content: center;
    align-items: center;
}
.button:hover {
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    height: 300px;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.opup .close:hover {
    color: red;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.shop-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-shop-deal-container {
    height: auto;
    width: auto;
}
.main-deal {
    height: 600px;
    width: auto;
    align-items: center;
    border: 2px solid black ;
    
}
.dlc-txt {
    margin-left: 80px;
}
.buy-button-container {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 900px;
    top: 350px;
    padding-left: 20px;
    border-radius: 10px;
    border: #333 solid 2px;
    z-index: 0;
}
.DLC-btn {
    margin-top: 120px;
}
.shop-more {
    height: 112px;
    width: 100%;
    
}
.shop-items-container {
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-item {
    height: 90%;
    width: 40%;
    background-color: tomato;
}
.little-items-big-containere {
    height: 100%;
    width: 50%;
    background-color: azure;
    flex-direction: column;
    align-items: center;
}

.small-items {
    height: 50%;
    width: 50%;
    background-color: red;
}
